<div class="equipment-box">
	<div class="materials-tit">{{lang.equipment}}</div>
	<div class="equipment-thead equipment-tr">
		<div class="equipment-tr-btn"></div>
		<div class="equipment-tr-longTd">{{lang.name}}</div>
		<div class="equipment-tr-longTd">{{lang.location}}</div>
		<div class="equipment-tr-shortTd">{{lang.equipmentID}}</div>
		<!--<div class="equipment-tr-white"></div>-->
	</div>
	<div class="equipment-tbody">
		<!--<div class="equipment-tr">
			<div class="equipment-tr-btn"></div>
			<div class="equipment-tr-longTd">Name</div>
			<div class="equipment-tr-longTd">Location</div>
			<div class="equipment-tr-shortTd">Equipment ID</div>
		</div>-->
	</div>
</div>