* {
	margin: 0;
	padding: 0;
}

body,html {
	width: 100%;
	height: 100%;
}
a{
	color: #157FCC;
	text-decoration: none;
}
img{
	border: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
#header {
	width: 100%;
	height: 70px;
	background: #0077c8;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	position: absolute;
	z-index: 1;
}

#header .header-menu {
	position: relative;
	float: right;
	margin: 25px 15px 0 0;
	box-sizing: border-box;
	color: white;
}

#header .header-menu .icon {
	font-size: 25px;
	cursor: pointer;
	display: inline-block;
	margin-left: 15px;
}

#header .header-menu span .header-username {
	line-height: 27px;
	font-size: 14px;
	margin-left: 10px;
	float: right;
	color: #fff;
}

#container {
	width: 100%;
	position: absolute;
	padding-top: 70px;
	background: #f3f2f2;
	overflow: hidden;
	color: black;
	height: 100%;
	box-sizing:border-box;
}

#container .container-left,
#container .container-right {
	width: 50%;
	padding: 15px 50px;
	box-sizing: border-box;
	float: left;
}

#container .container-left .container-left-header,
#container .container-right .container-right-header {
	width: 621px;
	padding: 10px;
	height: 37px;
}

.container-left-header .container-left-header-left, 
{
	width: 432px;
	height: 37px;
}
.container-left-header-left span,
.container-right-header span{
	color: #666666;
	font-family:"microsoft sans serif";
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	margin-left:6px ;
}
.container-left-header .container-left-header-right{
	position: absolute;
	left: 29%;
	top: 113px;
	font-size: 14px;
	color: #666666;
	box-sizing: border-box;
}
.container-left-header-right .active-false{
	color: #157FCC;
	cursor: pointer;
	text-decoration: underline;
}
.container-left-header-right .active-true{
	color: #000000;
	text-decoration: none;
}
#container .container-left .container-left-main,
#container .container-right .container-right-main{
	width: 580px;
	height: 94.5%;
	overflow-x: hidden;
	overflow-y: auto;
}
.container-right-main .link-item{
	position: relative;
	padding: 8px 0;
	margin: 2px 8px 6px 8px;
	width: 80px;
	text-align: center;
	float: left;
}
.link-item a:hover{
	text-decoration: underline;
}
.link-item img{
	width: 48px;
	height: 48px;
}

.link-item h3{
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	padding-top: 5px;
	line-height: 15px;
	height: 50px;
	overflow: hidden;
	font-family: helvetica, arial, verdana, sans-serif;
}
#container .container-left{
	height: 95%
}
#container .container-left .container-left-main{
	padding: 1px 0 0 1px;
	
}
#container .container-left .container-left-main .container-left-main-item{
	height: 76px;
	width: 531px;
	background: #fff;
	margin-bottom: 14px;	
	box-sizing: border-box;
	border-left: 6px solid #1e91ff;
	padding:10px 8px ;
	box-shadow: 0px 0px 1px #ccc,
				0px 0px 1px #ccc,
				0px 0px 1px #ccc,
				0px 0px 1px #ccc;
	position: relative;			
}
#container .container-left  .container-left-main-item span{
	display: block;
}
#container .container-left .container-left-main .container-left-main-item-tit{
	font-size: 13px;
	font-weight: 900;
	margin-bottom: 6px;
}
#container .container-left .container-left-main .container-left-main-item-text{
	font-size: 10px;
	line-height: 18px;
}
.container-left-main-item-status{
	font-size: 11px;
	color: #999;
	float: right;
	position: absolute;
	bottom: 10px;
	right: 8px;
}
#container .container-left .container-left-main .active .container-left-main-item-text,
#container .container-left .container-left-main .active .container-left-main-item-status{
	display: none;
} 
#container .container-left .container-left-main .active{
	border-left: none;
	border-top: 6px solid #1e91ff;
	height: 131px;
}
#container .container-left .container-left-main .container-left-main-item-from,
#container .container-left .container-left-main .container-left-main-item-textInfo,
#container .container-left .container-left-main .container-left-main-item-more,
#container .container-left .container-left-main .container-left-main-item-date{
	font-size: 12px;
	line-height: 20px;
	display: none;
}
#container .container-left .container-left-main .container-left-main-item-from{
	color: #666;
}
#container .container-left .container-left-main .container-left-main-item-date{
	float: right;
	color: #666;
}
#container .container-left .container-left-main .active .container-left-main-item-from,
#container .container-left .container-left-main .active .container-left-main-item-textInfo,
#container .container-left .container-left-main .active .container-left-main-item-more,
#container .container-left .container-left-main .active .container-left-main-item-date{
	display: block;
}